
:root {
    --mainColor: #b4975a
  }

  html {
    scroll-behavior: smooth;
  }
  body {
      background-color: #f5f1e6;
      font-family: 'Amiri', serif;
      font-size: larger;
   
  }
.customContainer{
    margin: 0 auto;
    width: 65%;
    
}
.customContainer1{
    margin: 0 auto;
    width: 65%;
    border-bottom: 1px solid  var(--mainColor);
    
}

/* ..........................// */

.navbarSection ul{
    text-align: center;
}
.navbarSection button {
    margin: auto;
    width: 100%;
}
.media i {
    font-size: 28px;
    color:#b4975a;
    padding: 3%;
}
h1,h2{
    color: #b4975a;
    font-family: 'Reem Kufi', sans-serif;
}
nav{
    background-color: transparent;
    color: #b4975a;
    font-family: 'Reem Kufi', sans-serif;
}

nav ul li :active {
border-bottom: 3px solid #b4975a;
color: #b4975a ;
}
.nameSection 
{
    border-bottom: 1px solid  var(--mainColor);
    margin: 10px auto;
    padding-bottom: 10px;
    
}
/* .mainContainer{
    background-image: url("./d222226lmqaa-85d53874-2c34-46a4-9dd4-1f8d8fc7b3b5.jpg");
  
} */

/* .................hero................/// */
.mainContainer{
  
    background-image: url("./imgs/d6lmqaa-85d53874-2c34-46a4-9dd4-1f8d8fc7b3b5.jpg");
background-attachment: fixed;
background-size: cover;
background-repeat: no-repeat;}
.up{
    position: fixed;
    left: 4%;
    bottom: 7%;
    font-size: 63px;
    color: var(--mainColor);
}

    /* .........................................///
     */

.customedSectionList li{
list-style: none;
padding:20px;
border-bottom: 0.5px dashed var(--mainColor);
}

    
.customedSectionList li:hover i{
transform: scale(1.1);
transition-duration: 0.5s;
    }
.customedSectionList li:hover{
  
border-bottom: 2px solid var(--mainColor);

  }
    
    


h2{
    display: inline-block;
    border: 1px solid var(--mainColor);
    border-radius: 25px;
    font-family: 'Reem Kufi', sans-serif;
    border: none;
    border-bottom: 2px solid var(--mainColor);
    
}

a:visited{
    color: var(--mainColor);
}
.cv2 {
    border-radius: 25px;
    padding-bottom: 30px;
    border-bottom: dashed 1px var(--mainColor);
}
.cvSummary:hover 
{
    border-radius: 25px;
    transform: scale(1.2);


}


.customedSectionList i {
    font-size: 28px;
    color: var(--mainColor);
}

.customedSection
{
    position: relative;
    margin-top: 4%;
}
.customedPaperImg{
    position: absolute;
    top: 21%;
    left: -12%;
}
.customedPaperImgLeft{
    position: absolute;
    top: 0%;
    left: 41%;
    width: 47%;
}

/* .heroImage{
    position: relative;
}
#profileImg{
    position: absolute;
    top: 0%;
    width: 64%;
} */
.heroImage{
  position: relative;

}
#profileImg{

  top: -19%;
  width: 28rem;

}
.bookRow{
  justify-content: space-between;
}


/* ..................................................../// */
.bookImg
{
    
margin-top: 10px;
margin-bottom: 10px
}
.bookImg img {
    border-radius: 20px;
}
.bookImg:hover {
    transform: scale(1.3);
    transition-duration: 0.5s;
    margin: 10px;
}

.booksimgs
{
     width: 80%;
    margin : 0 auto;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 6px 4px 22px gray;
    
}
.booksimgs h2 {
    border: none;
  
    border-bottom: 2px solid var(--mainColor);
}
* {box-sizing:border-box}
/* ...................Animation........................................///////



.



/* Slideshow container */
.slideshow-container {
    width: 78%;
    position: relative;
    margin: auto;
  }
  
  .mySlides {display: none}

  .mySlides img:hover {
      transform: scale(2);
      transition-duration: 0.5s;
      border-radius: 30px;
      box-shadow: 2px 2px 20px var(--mainColor);
  }

  .mySlides img{
 
    border-radius: 25px;
    box-shadow: 2px 2px 10px var(--mainColor);
    margin-bottom: 20px;
}
img {vertical-align: middle;}
  /* Next & previous buttons */
  
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  .prev {
      left: 105%;
  }
  /* Position the "next button" to the right */
  .next {
    right: 105%;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: var(--mainColor)
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color:var(--mainColor);
  }
  
  /* Fading animation */
  .fade2 {
    animation-name: fade2;
    animation-duration: 2s;
  }
  
  @keyframes fade2 {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 600px) {
    .prev, .next,.text {font-size: 11px}

  }

  .slideshow-container2 {
    margin-top: 10%;
    padding-top: 1%;
    padding-bottom: 4%;

      background-attachment: fixed;
      background-image: url("./imgs/d6lmqaa-85d53874-2c34-46a4-9dd4-1f8d8fc7b3b5.jpg");
      background-repeat: no-repeat;
      background-size: cover;
  }

  @media only screen and (max-width: 950px) {
    #profileImg{
  
      top: -19%;
      width: 14rem;
    
    }
    body {
     
      font-size: small;
  }
  .customContainer{
    margin: 0 auto;
    width: 85%;
    
}
  .bookRow{
    justify-content: center;
    width: 100%;
  }
  .navbar-nav{
    margin: 0;
  }
  .slidearrow{
    font-size: x-large;
   
    padding: 1px;
  }

  .header {
text-align: center;
  }
  .heroImage{
    text-align: center;
  }
  }










